<h1>Listing quotes</h1>

<table id="quotes-table">
  <tr>
    <th>Source</th>
    <th>Context</th>
    <th>Quote</th>
    <th>Theme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>
