<div>
  <div>
    <h1>Welcome to Bench Prep Coding Challenge</h1>
  </div>
  <div>
    <p>The following links will send you the execercises</p>
    <h3>Links</h3>
    <ul>
      <li><%= link_to 'Backbonejs Quotes', quotes_path %></li>
      <li><%= link_to 'Array Where implementation', new_array_search_path %></li>
      <li><%= link_to 'Blackjack Game', new_blackjack_game_path %></li>
    </ul>
  </div>
</div>
